@import "../../../styles/_variablesStyles.scss";

form {

}

.login-facebook-button{
  background-color: #4267b2;
}

.login-gmail-button{
  background-color: #d14836;
}

.registrate-label{
  color: $detail-color-one;
  text-decoration-color: $detail-color-one;
  text-decoration-style: solid;
  text-decoration-line: underline;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.registrate-label:hover{
  cursor: pointer;
}

input{
  color: #424242;

}
